.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    
  }
  
  .footer-left {
    font-size: 1rem;
    color: #333;
  }

  .footer-left p{
    font-weight: 500;
  }
  
  .footer-center {
    display: flex;
    gap: 20px;
  }
  
  .footer-center a {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .footer-center a:hover {
    color: #000;
  }
  
  .footer-right {
    display: flex;
    gap: 15px;
  }
  
  .footer-right a {
    display: inline-block;
  }
  
  .footer-right img {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s;
  }
  
  .footer-right img:hover {
    opacity: 0.7;
  }
  