.hero {
    padding: 50px 20px;
    text-align: center;
}

.hero img {
    width: 200px;
}
.hero p{
    color: #6e4a1b;
}

.rating {
    margin-bottom: 20px;
    color: green;
    font-weight: bold;
}

h1 {
    font-size: 55px;
    margin: 20px 0;
}

p {
    font-size: 18px;
    margin: 20px 0;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background: #926b45;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.cta-subtext {
    margin-top: 20px;
    font-size: 14px;
    color: #c8b59c;
}

#headd{
    color: #ab885b;
}